<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbexdv9aFoob87XDNXcUsn030bAdKbTps</string>
	<key>GCM_SENDER_ID</key>
	<string>719280351201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.dito.Dito-test-sdk</string>
	<key>PROJECT_ID</key>
	<string>teste-dito-sdk</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-dito-sdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719280351201:ios:ab72ec220e4db1a6a854a0</string>
</dict>
</plist>